*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green: #54b192;
  --green-l: #a4cec0;
  --gray: #DADBDD;
  --BlueDark:#2C3539;
  --GapN : 10em;
  --smooth: all 0.3s ease-in;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color:rgb(50, 50, 50);
  justify-content: center;
  width: 100%;
  height: auto;
  margin: auto;
  /* text-align: center; */
  
}

img {
  max-width: 100%;
  width: 100%;
}
.containerHeader {
  width: 100%;
  height:120px;
  box-shadow: 0 0 40px black;
  margin: 0 auto;
  /* box-shadow: 0 0 20px black; */
}

.container {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
}

.personal_Project h2{
  font-size: 40px;
  margin-top: 80px;
  margin-bottom: 20px;
  display: flex;
  justify-content:left;
  color: rgb(255, 255, 255);
  font-weight: 100;
}
.content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.content video {
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 20px;
  max-width: 840px;
  max-height: 500px;
  box-shadow: 0 0 4px white;
  height: auto;
}
/* ================================================================ */
.item {
  /* box-shadow: 0 0 3px black; */
  flex: 0 0 auto;
  display: flex;
  height: 500px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
  align-items: center;
}
.item p {
 margin: 10px;
}

@media ( Max-width: 62em){
  .content{
    align-items: center;
  }
   .content video{
    max-width: 100%;
    max-height: 100%;
    margin:0;
   }
   .item{
    flex-direction: column;
   }
  }
  /* =========================================== */
/* .item:nth-child(2) {
  order: 2;
}

.item:nth-child(3) {
  order: 3;
}

.item:nth-child(4) {
  order: 4;
} */

button {
  text-align: center;
  color: #fff;
  background-color: var(--gray);
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: var(--smooth);
}

button:hover {
  background-color: var(--green-l);
  transition: var(--smooth);
}


/* === Overlay === */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-color: var(--gray);
  z-index: 5;
  transition: var(--smooth);
  transform: translateX(-100%);
  opacity: 0;
}

#overlay.show {
  display: initial;
}


/* === Header === */
header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center;
  /* background-image: url("/img/h7.jpg"); */
  z-index: 1;
  opacity: 1;
}
header.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.tomtat{
  margin-left: 50px;
  padding-top: 100px;;
  display: flex;
  flex-direction: column;
  
}
.tomtat h1{
 
  font-size: 50px;
  font-style: italic;
  font-weight: 100;
  text-align: left;
  position: relative;
  
  color:rgb(255, 255, 255);
  /* text-shadow:0 0 10px black; */
}
.tomtat p{
  width: 400px;
  font-size: 20px;
  margin-top: 30px;
  color:rgb(142, 142, 142);
  text-align: middle;
  font-weight: 300;
}
@media (max-width: 62em) {
  .tomtat {
    align-items:center ;
    width: 100%;
    top: 150px;
    margin: 0 auto;
  }
  .tomtat h1{
    text-align: center;
  }
  .tomtat p{
    text-align: center;
  }
  .languages_links{
    margin-left: 40px;
  }
  .gameExplain{
    margin: 0;
    align-items: center;
  }
  .Game_Comment_Edit p {
    margin-left: 50px;
    text-align: center;
    font-size: 15px;
  }
  
  
}
/* ================================================================ */
/* fade  */

.fade-in-image {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateY(50px);
}

.fade-in-image.fade-in {
  opacity: 1;
  transform: translateY(0);
}
.fade-in-text {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateY(50px);
}
.fade-in-text.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* ================================================================ */
.workBox {
  padding-top:50px;
  text-align: center;
  /* padding: 20px;
  margin: 50px; */
}
.workBox h2 {
  color: rgb(255, 255, 255);

  font-weight: 100;
  font-size: 30px;
  text-shadow: 0 0 5px black;
}
/* ================================================================ */
.gameExplain{
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 250px;
}
.Title_Game_Edit{
  margin-bottom: 20px;
  color: rgb(217, 121, 121) ;
}
.Title_Game_Edit p{
  font-size: 20px;
}
.Role{
  margin-left: 5px;
  display: flex;
}
.Role div{
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(103, 103, 103);
  box-shadow: 0 0 5px white;
  font-weight: 200;
}
.Role div:nth-child(2){
  background-color: rgb(205, 80, 80);
}
.Game_Comment_Edit p{
 color: rgb(186, 186, 186);
 margin-right: 50px;
 font-weight: 300;
}

.gamePlayBtn p{
  font-weight: 300;
  text-shadow: 0 0 15px white;
}

/* ================================================================ */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  margin-bottom: 100px;
}

/* logo */
.navbar__logo {
  margin-right: auto;
  padding: 30px;
  padding-left: 3em;
}
.navbar__logo h1{
  color: white;
}
.no-underline {
  text-decoration: none;
}

/* menu */


.navbar__links {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: rgb(41, 40, 40);
  z-index: 5;
  transition: var(--smooth);
  transform: translateX(-100%);
  opacity: 0;
}

.navbar__links.navbar__open {
  transform: translateX(0);
  opacity: 1;
  transition: var(--smooth);
}

.navbar__link {
  list-style: none;
  margin: 40px;
}

.navbar__link a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size:15px;
  transition: var(--smooth);
}
.languages_links{
  padding-top: 30px;
  flex-direction: column;
  margin-bottom: auto;
  height: 95px;
  width: 50px;
}
.languages_link a {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 200;
  font-size:13px;
  transition: var(--smooth);
}
.EN a{
  text-shadow:0 0 6px white;
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 200;
  font-size:13px;
  transition: var(--smooth);
}
.JP a{
  text-shadow:0 0 6px white;
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 200;
  font-size:13px;
  transition: var(--smooth)
  ;
}
.VN a{
  text-shadow:0 0 6px white;
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 200;
  font-size:13px;
  transition: var(--smooth);
}

.navbar__link a:hover {
  color: var(--green);
  transition: var(--smooth);
}

.navbar__btn {
  font-size: 1rem;
  /* background-color: var(--green); */
  margin-left: 45px;
  border-style: none;
}

/* menu button */
.navbar__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: var(--smooth);
  z-index: 6;
}

.navbar__icon {
  width: 45px;
  height: 6px;
  background-color: #a09f9f;
  border-radius: 5px;
  transition: var(--smooth);
  position: relative;
}

.navbar__icon:before,
.navbar__icon:after {
  content: "";
  position: absolute;
  width: 45px;
  height: 6px;
  background-color: #e6e6e6;
  border-radius: 5px;
  transition: var(--smooth);
}

.navbar__icon:before {
  transform: translateY(-12px);
}

.navbar__icon:after {
  transform: translateY(12px);
}

/* button animation */
.open .navbar__icon {
  transform: translateX(-50px);
  background: transparent;
}

.open .navbar__icon:before {
  transform: rotate(45deg) translate(35px, -35px);
}
.open .navbar__icon:after {
  transform: rotate(-45deg) translate(35px, 35px);
}

@media (min-width: 62em) {
  .navbar__links {
    position: initial;
    transform: translateX(0);
    opacity: 1;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navbar__link a {
    color: white;
  }
  .navbar__icons {
    display: none;
  }
  .navbar__btn {
    /* background-color: var(--gray); */
    background-color: transparent;
    border-color: white;
    border-width: 1px;
    border-style: solid;
  }
}


/* === Banner === */
/* #banner {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

.banner__img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.banner__heading {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  color: var(--gray);
}

.banner__heading h1 {
  font-size: 2.25rem;
  padding-top: 4em;
  margin-bottom: 0.8em;
}

.banner__heading p {
  font-weight: 300;
  line-height: 2em;
  margin-bottom: 1.5em;
}

.banner__btn {
  font-size: 1rem;
  background-color: transparent;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.banner__socials {
  margin-top: 3em;
  display: flex;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

.banner__socials a {
  color: var(--gray);
  transition: var(--smooth);
}

.banner__socials a:hover {
  color: var(--green-l);
  transition: var(--smooth);
} */

/* @media (min-width: 62em) {
  .banner__heading {
    text-align: initial;
    margin: 0;
    padding-top: 0;
  }
  .banner__socials {
    justify-content: flex-start;
  }
  .banner__socials a {
    margin-right: 45px;
  }
  .banner__img {
    width: 60%;
  }
} */

/* === Things === */
/* #things {
  position: relative;
  overflow-x: hidden;
  margin-top: 15em;
} */

/* #things h2 {
  text-align: center;
  color: var(--gray);
  margin-bottom: 3em;
}

.things__dec:nth-child(2) {
  top: initial;
  left: initial;
  bottom: 15%;
  right: 0;
  transform: translateX(60%);
  z-index: -1;
}

.things__item {
  margin: 3em 0;
}

.things__item img {
  padding-bottom: 4em;
}

.things__item--heading {
  text-align: center;
  color: var(--gray);
}

.things__item--heading p {
  font-weight: 300;
  line-height: 2em;
  max-width: 300px;
  margin: 0 auto;
  padding-top: 1em;
} */

/* @media (min-width: 62em) {
  .things__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .things__item img {
    width: 40%;
    padding-bottom: 0;
  }
  .things__item--heading {
    width: 45%;
    text-align: initial;
  }
  .things__item--heading p {
    max-width: 500px;
    margin: 0;
  }
  .things__item:nth-child(odd) img {
    order: 2;
    width: 40%;
    padding-bottom: 0;
  }
  .things__item--heading:nth-child(odd) {
    order: 1;
    width: 45%;
    text-align: initial;
  }
} */

/* === Works === */
/* #works {
  padding-top: 10em;
  position: relative;
  overflow-x: hidden;
}

#works h2 {
  text-align: center;
  color: var(--gray);
} */


/* === Footer === */
#footer {
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

.footer__heading {
  max-width: 100px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.footer__contact {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
}

.footer__contact a {
  text-decoration: none;
  color: white;
}

@media (min-width: 62em) {
  .footer__heading {
    text-align: initial;
    /* margin: 0; */
  }
  .footer__contact {
    display: flex;
    justify-content: space-between;
  }

}

