*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green: #54b192;
  --green-l: #a4cec0;
  --gray: #DADBDD;
  --BlueDark:#2C3539;
  --GapN : 10em;
  --smooth: all 0.3s ease-in;
/* Color Grame  */
  --Denx : #222831;
  --grey : #393E46;
  --xanhnc : #00ADB5;
  --trang : #EEEEEE;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color:var(--grey);
  justify-content: center;
  width: 100%;
  height: auto;
  margin: auto;
  /* text-align: center; */
  
}

img {
  max-width: 100%;
  width: 100%;
}
.containerHeader {
  width: 100%;
  height:100px;
  box-shadow: 0 0 10px black;
  margin: 0 auto;
}

.container {
  max-width: 2560px;
  width: 100%;
  margin: 0 auto;
}
.container2 {
  max-width: 1700px;
  width: 100%;
  margin: 0 auto;
}
/* === Header =======================================================*/
header {
  width: 100%;
  background-color:rgba(0, 133, 131, 0.495);
  background-size: cover;
  background-position: center;
  /* background-image: url("/img/h7.jpg"); */
  z-index: 1;
  opacity: 1;
}
header.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
/* ================================================================ */
/* #container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-description {
  position: relative;
}

#product-image {
  width: 300px;
  height: 200px;
}

#menu-container {
  position: fixed;
  right: 5px;
  top: 40%;
  width: 3px;
  height: 200px;
  background-color: gray;
}

#menu-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#menu-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 40px;
  background-color: white;
} */

/* ================================================================ */


.personal_Project h2{
  font-size: 40px;
  margin-top: 80px;
  margin-bottom: 20px;
  display: flex;
  justify-content:left;
  color: rgb(255, 255, 255);
  font-weight: 100;
}
.content {
  align-items: center;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.content iframe {
  width: 650px;
  height:  350px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 20px;
  box-shadow: 0 0 4px white;
}
/* ================================================================ */
.item {
  align-items: center;
  flex: 0 0 auto;
  display: flex;
  height: 800px;
  width:100%;
  margin: 100;
  flex-direction: column;
}
.item p {
 margin: 10px;
}


@media ( Max-width: 62em){
  .content{
    align-items: center;
    text-align: center;;
  }
   .content iframe{
    width: fit-content;
    height: fit-content;
    
    margin: 0;
   }
   .item{
    height: 750px;
    margin: 0;
    padding: 20px;
    flex-direction: column;
   }
    
  }
  /* =========================================== */
/* .item:nth-child(2) {
  order: 2;
}

.item:nth-child(3) {
  order: 3;
}

.item:nth-child(4) {
  order: 4;
} */

button {
  text-align: center;
  color: #fff;
  background-color: var(--gray);
  padding: 0.8rem 2.5rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: var(--smooth);
}

button:hover {
  background-color: var(--green-l);
  transition: var(--smooth);
}


/* === Overlay ===------------------------------------------------- */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-color: var(--gray);
  z-index: 5;
  transition: var(--smooth);
  transform: translateX(-100%);
  opacity: 0;
}

#overlay.show {
  display: initial;
}



/* ================================================================ */
.tomtat{
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  
}
.tomtat h1{
  text-shadow: 0 0 10px black;
  font-size: 50px;
  font-style: italic;
  font-weight: 100;
  position: relative;
  text-align: center;
  color:rgb(255, 255, 255);
  /* text-shadow:0 0 10px black; */
}
.tomtat p{
  width: 500px;
  font-size: 20px;
  margin-top: 30px;
  color:rgb(143, 142, 142);
  position: relative;
  text-align: center;
  font-weight: 300;
  margin: 0 auto;
}
@media (max-width: 62em) {
  .tomtat {
    width: 100%;
    top: 150px;
  }
  .tomtat p {
      width: 380px;
  }
  .languages_links{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
  }
  .Game_Comment_Edit p {
    height: 320;
    width:  510;;
    text-align: center;
    font-size: 15px;
  } 
  .workBox2
  {
  margin-top: 65px;
  }
}
/* ================================================================ */
/* fade  */

.fade-
n-other {
  opacity: 0;
  transition: all 0.7s ease-in-out;
  transform: translateY(50px);
}

.fade-in-other.fade-in {
  opacity: 1;
  transform: translateY(0);
}
.fade-in-text {
  opacity: 0;
  transition: all 0.7s ease-in-out;
  transform: translateY(50px);
}
.fade-in-text.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/* ================================================================ */
.workBox {
  margin-top: 100px;
  text-align: center;
  background-color: rgb(84, 126, 129);
}
.workBox h2 {
  color: rgb(255, 255, 255);
  padding: 20px;
  font-weight: 100;
  font-size: 30px;
  text-shadow: 0 0 5px black;
}
.workBox2 {
  text-align: center;
  background-color: rgba(67, 149, 92, 0.681)
}

.workBox2 h2 {
  color: rgb(255, 255, 255);
  padding: 20px;
  font-weight: 100;
  font-size: 30px;
  text-shadow: 0 0 5px black;
}
/* ================================================================ */
.gameExplain{
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  margin: 0;
  align-items: center;
  text-align: center;
}
.Title_Game_Edit{
  margin-bottom: 20px;
  color: rgb(210, 71, 71) ;
}
.Title_Game_Edit p{
  font-size: 20px;
  text-shadow: rgb(0, 0, 0)  0 0px 20px;
}
.Title_Game_Edit2 {
  margin-bottom: 20px;
  color: rgb(255, 200, 3);
  text-shadow: rgb(66, 66, 66) 0 0px 20px;
}

.Title_Game_Edit2 p {
  font-size: 20px;
}
.Title_Game_Edit3 {
  margin-bottom: 20px;
  color: rgb(255, 200, 3);
  text-shadow: rgb(0, 0, 0) 0 0px 20px;
}

.Title_Game_Edit3 p {
  font-size: 20px;
}
.Title_Game_Edit4 {
  margin-bottom: 20px;
  color: rgba(206, 206, 206, 0.94);
}

.Title_Game_Edit4 p {
  font-size: 20px;
}
.Role{
  width: 360;
  display: flex;
  align-items: center;
}
.Role div{
  width: 90;
  border-radius: 5px;
  margin: 5px;
  background-color: rgb(103, 103, 103);
  box-shadow: 0 0 5px white;
  font-weight: 200;
}
.Role div:nth-child(2){
  background-color: rgb(43, 30, 30);
}
.Role div:nth-child(3) {
  background-color: rgb(2, 109, 123);
}
.Role2 {
  margin-left: 5px;
  display: flex;
  align-items: center;
}
.Role2 div {
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(103, 103, 103);
  box-shadow: 0 0 5px white;
  font-weight: 200;
}

.Role2 div:nth-child(2) {
  background-color: rgba(54, 54, 54, 0.899);
}

.Role2 div:nth-child(3) {
  background-color: rgba(30, 134, 6, 0.899);
}
.Role2 div:nth-child(4) {
  background-color: rgba(9, 142, 109, 0.923);
}
.Role2 div:nth-child(5) {
  background-color: rgba(18, 126, 188, 0.908);
}
@media (Max-width: 500px) {
  .Role2 {
    flex-direction: column;
  }
  .Role {
    flex-direction: column;
  }
}


.Game_Comment_Edit p{
 color: rgb(186, 186, 186);
 font-weight: 300;
 width: 350px;
}

.gamePlayBtn {
  font-weight: 300;
  text-shadow: 0 0 15px white;
}

/* ================================================================ */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  margin-bottom: 100px;
}

/* logo */
.navbar__logo {
  margin-right: auto;
  padding: 30px;
  padding-left: 3em;
}
.navbar__logo h1{
  color: white;
}
.no-underline {
  text-decoration: none;
  color: #fff;

}
.no-underline2 {
  text-decoration: none;
  color:   rgb(255, 187, 0);
  
}
.no-underline3 {
  text-decoration: none;
  color:
    rgb(150, 255, 21);
  ;

}
.no-underline4 {
  text-decoration: none;
  color:
    rgb(0, 183, 255);
  ;

}


/* menu */


.navbar__links {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: rgb(41, 40, 40);
  z-index: 5;
  transition: var(--smooth);
  transform: translateX(-100%);
  opacity: 0;
}

.navbar__links.navbar__open {
  transform: translateX(0);
  opacity: 1;
  transition: var(--smooth);
}

.navbar__link {
  list-style: none;
  margin: 40px;
}

.navbar__link a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size:15px;
  transition: var(--smooth);
}
.languages_links{
  display: flex;
  flex-direction: column;
  height: 95px;
  width: 50px;
}
.languages_link{
  padding-top: 8px;
}
.languages_link a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 200;
  font-size:12px;
  transition: var(--smooth);
}
.EN{
  padding-top: 8px;
}
.EN a{
  text-shadow:0 0 6px white;
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 200;
  font-size:15px;
  transition: var(--smooth);
}
.JP{
  padding-top: 8px;
}
.JP a{
  text-shadow:0 0 6px white;
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 200;
  font-size:15px;
  transition: var(--smooth)
  ;
}
.VN{
  padding-top: 8px;
}
.VN a{
  text-shadow:0 0 6px white;
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 200;
  font-size:15px;
  transition: var(--smooth);
}

.navbar__link a:hover {
  color: var(--green);
  transition: var(--smooth);
}

.navbar__btn {
  font-size: 1rem;
  /* background-color: var(--green); */
  margin-left: 45px;
  border-style: none;
}

/* menu button */
.navbar__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: var(--smooth);
  z-index: 6;
}

.navbar__icon {
  width: 45px;
  height: 6px;
  background-color: #a09f9f;
  border-radius: 5px;
  transition: var(--smooth);
  position: relative;
}

.navbar__icon:before,
.navbar__icon:after {
  content: "";
  position: absolute;
  width: 45px;
  height: 6px;
  background-color: #e6e6e6;
  border-radius: 5px;
  transition: var(--smooth);
}

.navbar__icon:before {
  transform: translateY(-12px);
}

.navbar__icon:after {
  transform: translateY(12px);
}

/* button animation */
.open .navbar__icon {
  transform: translateX(-50px);
  background: transparent;
}

.open .navbar__icon:before {
  transform: rotate(45deg) translate(35px, -35px);
}
.open .navbar__icon:after {
  transform: rotate(-45deg) translate(35px, 35px);
}

@media (min-width: 62em) {
  .navbar__links {
    position: initial;
    transform: translateX(0);
    opacity: 1;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navbar__link a {
    color: white;
  }
  .navbar__icons {
    display: none;
  }
  .navbar__btn {
    /* background-color: var(--gray); */
    background-color: transparent;
    border-color: white;
    border-width: 1px;
    border-style: solid;
  }
}

/* === Footer === */
#footer {
  margin-top: 500px;
  height: 300px;
  display: flex;
  justify-content: center;

}

.footer__heading {
  width: 100%;
  color: white;
  position: relative;
  align-items: center;
  text-align: center;
}
 .footer__contact {
   display: flex;
 }

.footer__contact a {
  padding: 20px;
  text-decoration: none;
  color: white;
  text-align: center;
}
@media (Max-width: 62em) {
.footer__contact {
  flex-direction: column;
}
}
/* ================================================================ */
#GravityFalls
{
  background-color:rgb(#000000);
}
/* ================================================================ */
#MonsterMaker iframe
{
  margin-top: 50px;
    width: 650px;
      height: 350px;
      border-radius: 5px;
      margin-bottom: 10px;
      margin-right: 20px;
  box-shadow: 0 0 4px white;
}
.manyVideo{
  display: flex;
}
@media (Max-width: 62em) {
 #MonsterMaker iframe {
  height: fit-content;
  width: fit-content;
 }
 .manyVideo{
  flex-direction: column;
 }
}
#Maze
{
  margin-top: 30px;
}


